

*{
  font-family: system-ui;
  transition: all 0.5s ease-in-out;
}


body {
  height: 100vh;
  background: #F6F7FB;
  /* background: var(--background); */
  margin: 0;
}

.container .grid{
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}





